{% extends 'base.html' %}
{% block title %}
Matrix - Not Found
{% endblock %}
{% block content %}
    <div class="z-0 w-screen h-5/6 flex items-center justify-center flex-col mb-12">
        <!-- About -->
        <div class="flex flex-col w-screen mx-auto bg-white justify-center items-center">
            <img class="w-16 h-16 mb-10" src="{{ url_for('static', filename='assets/matrix-primary.svg') }}" alt="Matrix Systems Logo">
            <p class="mx-auto text-xs md:text-sm text-matrix_blue-100 text-center font-['Roboto'] font-medium">404 ERROR</p>
            <h1 class="mx-auto mb-4 text-lg md:text-xl text-matrix_gray-200 text-center font-['Roboto'] font-medium">Page not found.</h1>
            <p class="w-4/5 md:w-3/5 text-base md:text-lg text-matrix_gray-100 font-matrix_body text-center leading-6">
                Sorry, we couldn't find the page you're looking for.
            </p>
            <a href="{{ url_for('main.main_page') }}" class="mx-auto text-xs md:text-sm text-matrix_blue-100 text-center font-matrix_body hover:text-matrix_blue-200 hover:outline-none">
                Go back home
                <span>&#8594;</span>
            </a>
        </div>
    </div>
    {% include 'components/matrix_footer.html' %}
{% endblock %}