{% extends 'base.html' %}
{% block title %}
Matrix - About
{% endblock %}
{% block content %}
    <div class="z-0 w-screen h-5/6 flex items-center justify-center flex-col mb-16">
        <!-- About -->
        <div class="flex flex-col w-screen mx-auto bg-white justify-center items-center">
            <h1 class="mx-auto mb-10 text-xl md:text-2xl text-matrix_gray-200 text-center font-['Roboto'] font-medium">About</h1>
            <p class="w-4/5 md:w-3/5 text-base md:text-lg text-matrix_gray-100 font-matrix_body text-center leading-6">
                This project is a fully functional metric collection service developed by Christian Saltarelli, Ryan Pepe, and Ahmed Sallam.
                This project was created for MSCS 710L-711 at Marist College Spring 2022 as our graduate capstone project.
                For more information on the underlying technologies used to develop this project please view our documentation or visit the repository of our project.
            </p>
        </div>
    </div>
    {% include 'components/matrix_footer.html' %}
{% endblock %}